<div id="beer-form">
    <%= form_for @brewery do |f| %>
        <%= f.hidden_field :latitude, value: @latitude %>
        <%= f.hidden_field :longitude, value: @longitude %>
        <%= f.submit "Find a beer" %>
    <% end %>
</div>