<h1>Find a local beer!</h1>

<div id="beer"></div>

<div id="beer-form">
  <%= form_for @brewery, remote: true do |f| %>
  <%= f.hidden_field :latitude, value: @latitude %>
  <%= f.hidden_field :longitude, value: @longitude %>
  <%= f.submit "Pour Me a Tall One", class: "btn btn-primary btn-lg", id: "submit" %>
  <% end %>
</div>


<div id="map-canvas" style="height:300px;width:960px;"></div>
