h1 {
  font-size: 42px;
  text-align: center;
}

h2{
  font-size: 40px;
}

.brewery{
  height: 170px;
}

#submit{
  margin: 0 auto;
  display: block;
}

#beer{
  text-align: center;
}

#map-canvas{
  margin: 40px auto 0px;
  height: 300px;
  width: 960px;
}